{
  "name": "net.atos~timelinegenerator",
  "config": {
    "main": "net.atos.entng.timelinegenerator.TimelineGenerator",
    "port": 8099,
    "csrf-token": {{ csrfToken | default('true') }},
    "app-name": "TimelineGenerator",
    "app-address": "/timelinegenerator",
    "app-icon": "timelinegenerator-large",
    "app-type" : "END_USER",
    "host": "https://{{ host }}",
    "ssl": true,
    "userbook-host": "https://{{ host }}",
    "integration-mode": "{{ integration_mode|default('HTTP') }}",
    "app-registry.port": 8012,
    "mode": "prod",
    "entcore.port": 8009
  }
}