
<div class="row toggle-buttons-spacer">
	<h2 ng-if="event._id"><i18n>edit</i18n></h2>
	<h2 ng-if="!event._id"><i18n>timelinegenerator.event.new</i18n></h2>

	<article class="twelve cell">
		<label class="twelve cell"><i18n>timelinegenerator.event.headline</i18n></label>
		<input type="text" i18n-placeholder="timelinegenerator.event.placeholder" class="ten cell" ng-model="event.headline" required></input>

		<label class="twelve cell"><i18n>timelinegenerator.event.startdate</i18n></label>
		<span class="twelve cell">
			<date-picker ng-model="event.startDate"></date-picker>
		</span>
		
		<label class="twelve cell"><i18n>timelinegenerator.event.enddate</i18n></label>
		<span class="twelve cell">
			<date-picker ng-model="event.endDate"></date-picker>
		</span>
		
		<label class="twelve cell"><i18n>timelinegenerator.event.text</i18n></label>
		<html-editor ng-model="event.text" required></html-editor>

		<div class="ten cell warning" ng-if="event.error !== undefined" translate content="[[event.error]]">
		</div>

		<button class="right-magnet" ng-click="saveEventEdit()"><i18n>submit</i18n></button>
		<button class="cancel right-magnet" ng-click="closeEvent()"><i18n>cancel</i18n></button>
	</article>
</div>