
<div class="row toggle-buttons-spacer" ng-if="!forceToClose">
	<h2 ng-if="event._id"><i18n>edit</i18n></h2>
	<h2 ng-if="!event._id"><i18n>timelinegenerator.event.new</i18n></h2>

	<article class="twelve cell">
		<div name="form" guard-root guard-ignore-template>

			<!-- title form -->
			<div class="row vertical-spacing">
				<label class="two cell"><i18n>timelinegenerator.event.headline</i18n></label>
				<input type="text" i18n-placeholder="timelinegenerator.event.placeholder" class="ten cell" ng-model="event.headline" required input-guard></input>
			</div>

			<!-- Date form -->
			<div class="row vertical-spacing">
				<label class="two cell"><i18n>timelinegenerator.event.date</i18n></label>
				<div class="ten cell">
					<div class="row">
						<label class="two cell"><i18n>timelinegenerator.date.format</i18n></label>
						<span class="ten cell">
						<select ng-model="event.dateFormat" ng-change="switchDateFormat()">
							<option name="dateFormat" value="year">[[lang.translate("timelinegenerator.year")]]</option>
							<option name="dateFormat" value="month">[[lang.translate("timelinegenerator.month")]]</option>
							<option name="dateFormat" value="day"><i18n></i18n>[[lang.translate("timelinegenerator.day")]]</option>
						</select>
					</span>
					</div>
					<div class="row">
						<label class="two cell"><i18n>timelinegenerator.event.startdate</i18n></label>
						<span class="ten cell">
						<date-picker-timeline ng-if="event.dateFormat == 'day'" event-date-format="event.dateFormat" ng-model="event.startDate"></date-picker-timeline>
						<input type="text" ng-if="event.dateFormat == 'month' || event.dateFormat == 'year'" ng-model="event.startDate.newDate" ng-blur="setDateYear(event.startDate)" placeholder="[[ model.inputPlaceholderDateFormat[event.dateFormat] ]]">
					</span>
					</div>
					<div class="row">
						<label class="two cell">
							<input type="checkbox" ng-change="resetEndDate()" ng-model="event.enableEndDate"/>
							<i18n>timelinegenerator.event.enddate</i18n>
						</label>
						<span class="ten cell" ng-if="event.enableEndDate">
						<date-picker-timeline ng-if=" event.dateFormat == 'day'" event-date-format="event.dateFormat" ng-model="event.endDate"></date-picker-timeline>
						<input type="text" ng-if="event.dateFormat == 'month' || event.dateFormat == 'year'" ng-model="event.endDate.newDate" ng-blur="setDateYear(event.endDate)" placeholder="[[ model.inputPlaceholderDateFormat[event.dateFormat] ]]">
					</span>
					</div>
				</div>
			</div>

			<!-- Media type form -->
			<div class="row vertical-spacing">
				<label class="two cell"><i18n>timelinegenerator.select.media.type</i18n> </label>
				<div class="ten cell height">
					<input id="mediatype-image" type="radio" name="mediatype" ng-model="event.mediatype" value="img"/>
					<label for="mediatype-image"><i18n>timelinegenerator.image</i18n></label>

					<input id="mediatype-video" type="radio" name="mediatype" ng-model="event.mediatype" value="video"/>
					<label for="mediatype-video"><i18n>timelinegenerator.video</i18n></label>
					<BR/>
					<div class="cell" ng-if="event.mediatype == 'img'">
						<image-select ng-change="resetEventVideo(event)" ng-model="event.img" default="/img/icons/folder-large.png" thumbnails="[{ width: 120, height: 120 }]"></image-select>
					</div>
					<div ng-if="event.mediatype == 'video'">
						<input type="text" i18n-placeholder="timelinegenerator.event.video.placeholder" class="twelve cell" ng-model="event.video" ng-change="resetEventImage(event)" ></input>
					</div>
				</div>
			</div>

			<!-- editor text content form -->
			<div class="twelve cell">
				<label class="two cell"><i18n>timelinegenerator.event.text</i18n></label>
				<div class="ten cell">
					<editor ng-model="event.text" input-guard></editor>
				</div>
			</div>

			<div class="twelve cell warning" ng-if="event.error !== undefined" translate content="[[event.error]]">
			</div>

			<button class="right-magnet" ng-class="" reset-guard="saveEventEdit()" ng-disabled="form.$invalid || !isEventFormValid()"><i18n>save</i18n></button>
			<button class="cancel right-magnet" navigation-trigger="cancelEventEdit()"><i18n>cancel</i18n></button>
		</div>
	</article>
</div>