<div class="twelve cell">

	<div class="flex-row justify-end align-center contextual-buttons eight cell vertical-spacing right-magnet">

		<behaviour name="contrib" resource="timeline" class="horizontal-spacing">
			<button ng-click="newEvent()" class="cell right-magnet no-margin"><i18n>timelinegenerator.event.new</i18n></button>
		</behaviour>

		<section class="tabs heading-tabs" style="margin-bottom: 0px!important">
			<header class="horizontal-spacing-twice selected">
				<span class="no-style ng-scope"><i18n>timelinegenerator.mode.table</i18n></span>
			</header>
			<header ng-click="openTimelineViewer(timeline)"
				class="horizontal-spacing-twice">
				<span class="no-style ng-scope"><i18n>timelinegenerator.mode.timeline</i18n></span>
			</header>
  		</section>
	</div>

	<div class="row vertical-spacing"></div>
	<table class="twelve list-view">
		<thead>
			<tr>
				<th></th>
				<th ng-click="switchSortBy('headline')" ng-class="{'order-by-reversed': (sort.predicate === 'headline' && sort.reverse === false),
					'order-by': (sort.predicate === 'headline' && sort.reverse === true)}">
                    <i18n>timelinegenerator.event</i18n>
				</th>
				<th ng-click="switchSortBy('startDate')" ng-class="{'order-by-reversed': (sort.predicate === 'startDate' && sort.reverse === false),
					'order-by': (sort.predicate === 'startDate' && sort.reverse === true)}">
					<i18n>timelinegenerator.event.startdate</i18n>
				</th>
				<th ng-click="switchSortBy('endDate')" ng-class="{'order-by-reversed': (sort.predicate === 'endDate' && sort.reverse === false),
					'order-by': (sort.predicate === 'endDate' && sort.reverse === true)}">
                    <i18n>timelinegenerator.event.enddate</i18n>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in events.all | orderBy:sort.predicate:sort.reverse" ng-class="{ checked: event.selected }">
				<td>
					<behaviour name="contrib" resource="timeline">
						<input type="checkbox" ng-model="event.selected" />
					</behaviour>
				</td>
					<td ng-if="timeline.myRights.contrib" ng-click="editEvent(event, $event)">
						<a>[[event.headline]]</a>
					</td>
					<td ng-if="!timeline.myRights.contrib">
						[[event.headline]]
					</td>

					<td ng-if="timeline.myRights.contrib" ng-click="editEvent(event, $event)">
						<a ng-if="event.dateFormat == 'year'">[[moment(event.startDate).years()]]</a>
						<a ng-if="event.dateFormat == 'month'">[[moment(event.startDate).format('MM')]]/[[moment(event.startDate).years()]]</a>
						<a ng-if="event.dateFormat == 'day'">[[event.startDate | date:'dd/MM/yyyy']]</a>
					</td>
					<td ng-if="!timeline.myRights.contrib">
						<span ng-if="event.dateFormat == 'year'">[[moment(event.startDate).years()]]</span>
						<span ng-if="event.dateFormat == 'month'">[[moment(event.startDate).format('MM')]]/[[moment(event.startDate).years()]]</span>
						<span ng-if="event.dateFormat == 'day'">[[event.startDate | date:'dd/MM/yyyy']]</span>
					</td>

					<td ng-if="timeline.myRights.contrib && event.endDate" ng-click="editEvent(event, $event)">
						<a ng-if="event.dateFormat == 'year'">[[moment(event.endDate).years()]]</a>
						<a ng-if="event.dateFormat == 'month'">[[moment(event.endDate).format('MM')]]/[[moment(event.endDate).years()]]</a>
						<a ng-if="event.dateFormat == 'day'">[[event.endDate | date:'dd/MM/yyyy']]</a>
					</td>
					<td ng-if="!timeline.myRights.contrib && event.endDate">
						<span ng-if="event.dateFormat == 'year'">[[moment(event.endDate).years()]]</span>
						<span ng-if="event.dateFormat == 'month'">[[moment(event.endDate).format('MM')]]/[[moment(event.endDate).years()]]</span>
						<span ng-if="event.dateFormat == 'day'">[[event.endDate | date:'dd/MM/yyyy']]</span>
					</td>
					<td ng-if="!event.endDate">
					</td>
			</tr>
		</tbody>

	</table>
	<div ng-if="events.all.length === 0">
		<i18n>timelinegenerator.no.event.created.in.timeline</i18n>
	</div>
</div>

<behaviour name="contrib" resource="timeline" class="cell">
	<section class="toggle-buttons" ng-class="{ hide: events.selection().length === 0 }">
		<div class="toggle">
			<div class="row">
				<button ng-click="confirmRemoveSelectedEvents()"><i18n>remove</i18n></button>
			</div>
		</div>
	</section>
</behaviour>

<div ng-if="display.confirmDeleteEvents">
	<lightbox show="display.confirmDeleteEvents" on-close="cancelRemoveEvents()">
		<div class="row vertical-spacing-twice" ng-if="events.selection().length === 1">
			<i18n>timelinegenerator.confirm.delete.event</i18n>
		</div>
		<div class="row vertical-spacing-twice" ng-if="events.selection().length > 1">
			<i18n>timelinegenerator.confirm.delete.events</i18n>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="removeSelectedEvents()"><i18n>remove</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveSubjects()" />
		</div>
	</lightbox>
</div>
