<!DOCTYPE html>
<html class="print">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 class="text upper-title app-title">
      <i class="timelinegenerator"></i>
      [[timeline.headline]]
      <div ng-if="timeline.text" class="small-text left-spacing-twice horizontal-spacing" ng-bind-html="timeline.text"></div>
    </h1>

    <section class="print--timeline top-spacing-four">
      <article class="clearfix" ng-repeat="ev in timeline.events.all">
        <h4>[[ev.startDate]] <span ng-if="">- [[ev.endDate]]</span></h4>
        <h3>[[ev.headline]]</h3>
        <img ng-if="ev.img" ng-src="[[ev.img]]"/>
        <div ng-bind-html="ev.text"></div>
      </article>
    </section>
  </body>
</html>
