<div class="contextual-buttons eight cell vertical-spacing right-magnet">
    <section class="tabs cell twelve right-magnet">
        <header ng-click="openTimeline(timeline)"class="cell right-magnet"><span class="no-style ng-scope"><i18n>timelinegenerator.mode.table</i18n></span></header>
        <header class="right-magnet"><span class="cell">&nbsp;|&nbsp;</span></header>
        <header class="cell right-magnet selected" style="background: transparent; margin-left:24px;"><span class="no-style ng-scope"><i18n>timelinegenerator.mode.timeline</i18n></span></header>
        <behaviour name="contrib" resource="timeline">
            <button ng-click="newEvent()" class="cell right-magnet"><i18n>timelinegenerator.event.new</i18n></button>
        </behaviour>
    </section>
</div>


<div class="row toggle-buttons-spacer" >
	<sniplet source="cell.media.source.source" application="timelinegenerator" template="timelines" ng-if="timeline.events.length() > 0">
	</sniplet>
	<div ng-if="timeline.events.length() === 0">
		<i18n>timelinegenerator.no.event.created.in.timeline</i18n>
	</div>
</div>
