<div class="flex-row justify-end align-center contextual-buttons eight twelve-mobile cell vertical-spacing right-magnet">

    <resource-right name="contrib" resource="timeline" class="horizontal-spacing">
        <button ng-click="newEvent()" class="cell right-magnet no-margin"><i18n>timelinegenerator.event.new</i18n></button>
    </resource-right>

    <section class="tabs heading-tabs" style="margin-bottom: 0px!important">
        <header ng-click="openTimeline(timeline)"
            class="horizontal-spacing-twice">
            <span class="no-style ng-scope"><i18n>timelinegenerator.mode.table</i18n></span>
        </header>
        <header class="horizontal-spacing-twice selected">
            <span class="no-style ng-scope"><i18n>timelinegenerator.mode.timeline</i18n></span>
        </header>
    </section>
</div>


<div class="row toggle-buttons-spacer" >
    <sniplet source="cell.media.source.source" application="timelinegenerator" 
        template="timelines">
	</sniplet>
</div>
