<script type="text/ng-template" id="folder-tree">
  <div ng-if="folder.contains(currentFolder)">
      <li data-ng-repeat="folder in folder.children.all">
          <a ng-class="{ selected: currentFolder === folder, opened: folder.contains(currentFolder) }"
             ng-click="openFolder(folder)"
             class="folder-list-item"
             dragdrop="dropTo(folder, $originalEvent)">
              <i class="arrow" ng-if="folder.children.all.length"></i> [[folder.name]]
          </a>
          <!-- ng-if="folder.contains(currentFolder)"-->
          <ul ng-class="{ selected: folder.contains(currentFolder), closed: !folder.contains(currentFolder) }"
              ng-include="'folder-tree'"></ul>
      </li>
  </div>
</script>
<!--TREE AND CONTENT-->
<div class="row rigid-grid" workflow="timelinegenerator.view" ng-if="!empty">
  <section class="four cell">
    <div class="margin-two row" 
        ng-class="{'zero-mobile': !currentFolder.ressources.all.length && !currentFolder.children.all.length}">
      <input type="search" class="eleven cell" i18n-placeholder="search" ng-model="displayLib.searchTimelines" />
    </div>
    <nav class="vertical" side-nav>
      <ul>
        <li>
          <a ng-class="{ selected: currentFolder.name === 'root', opened: root.contains(currentFolder) }"
            ng-click="openRoot()" dragdrop="dropTo('root', $originalEvent)">
            <i class="arrow" ng-if="root.children.length"></i>
            <i18n>projects.root</i18n>
          </a>
          <ul>
            <div ng-if="root.contains(currentFolder)">
              <li ng-repeat="folder in root.children.all">
                <a ng-click="openFolder(folder)"
                  ng-class="{ selected: currentFolder === folder, opened: folder.contains(currentFolder) }"
                  dragdrop="dropTo(folder, $originalEvent)"><i class="arrow"
                    ng-if="folder.children.all.length"></i>[[folder.name]]</a>
                <ul ng-include="'folder-tree'"></ul>
              </li>
            </div>
          </ul>
        </li>
        <li ng-click="openTrash()">
          <a ng-class="{ selected: currentFolder.name === 'trash' }" dragdrop="dropTo('trash', $originalEvent)">
            <i18n>folder.trash</i18n>
          </a>
        </li>
      </ul>
      <a class="classic-link" ng-hide="isTrashFolder()" ng-click="lightbox('newFolder')"
        workflow="timelinegenerator.createFolder">
        <i18n>timelinegenerator.folder.new</i18n>
      </a>
      <a class="button vertical-spacing-four zero-desktop" 
          ng-if="isTrashFolder()" 
          workflow="timelinegenerator.create"
          ng-click="newTimeline()">
          <i18n>timelinegenerator.timeline.new</i18n>
        </a>
    </nav>
  </section>
  <section class="margin-four">
    <!--FILTERS-->
    <div class="twelve cell chips" ng-if="!empty">
      <label class="chip" ng-click="currentFolder.ressources.refreshFilters()" ng-class="{ selected: filters.mine }"
        ng-if="!empty && (currentFolder.ressources.all.length || currentFolder.children.arr.length)">
        <i class="mine" tooltip="filters.mine"></i>
        <i18n>filters.mine</i18n>
        <input type="checkbox" ng-model="filters.mine" />
      </label>
      <label class="chip" ng-click="currentFolder.ressources.refreshFilters()" ng-class="{ selected: filters.shared }"
        ng-if="!empty && (currentFolder.ressources.all.length || currentFolder.children.arr.length)">
        <i class="ic-share" tooltip="filters.sharedTimelines"></i>
        <i18n>filters.sharedTimelines</i18n>
        <input type="checkbox" ng-model="filters.shared" />
      </label>

      <!-- Empty screen Création -->
      <div class="twelve emptyscreen"
        ng-if="!isTrashFolder() && hasFiltersActive() && !currentFolder.ressources.all.length && !currentFolder.children.all.length"
        workflow="timelinegenerator.create">
        <h2 class="emptyscreen-header">
          <i18n ng-if="currentFolder === root">empty.timeline.creation.title</i18n>
          <i18n ng-if="currentFolder !== root">empty.timeline.subfolder.title</i18n>
        </h2>
        <img ng-if="currentFolder === root" class="emptyscreen-image__mini" src="/timelinegenerator/public/img/empty-timeline.svg">
        <img ng-if="currentFolder !== root" class="emptyscreen-image__mini"
          src="/assets/themes/entcore-css-lib/images/empty-search.svg">
        <p class="emptyscreen-footer">
          <i18n ng-if="currentFolder === root">empty.timeline.creation</i18n>
        </p>
        <a class="button" ng-hide="isTrashFolder()" workflow="timelinegenerator.create"
          ng-if="!timeline || !timeline._id" ng-click="newTimeline()">
          <i18n>timelinegenerator.timeline.new</i18n>
        </a>
      </div>
      <!-- Empty screen Consultation -->
      <div class="twelve emptyscreen"
        ng-if="!isTrashFolder() && hasFiltersActive() && !currentFolder.ressources.all.length && !currentFolder.children.all.length"
        workflow-not="timelinegenerator.create">
        <h2 class="emptyscreen-header">
          <i18n ng-if="currentFolder === root">empty.timeline.consultation.title</i18n>
          <i18n ng-if="currentFolder !== root">empty.timeline.subfolder.title</i18n>
        </h2>
        <img ng-if="currentFolder === root" class="emptyscreen-image__mini" src="/timelinegenerator/public/img/empty-timeline.svg">
        <img ng-if="currentFolder !== root" class="emptyscreen-image__mini"
          src="/assets/themes/entcore-css-lib/images/empty-search.svg">
        <p class="emptyscreen-footer">
          <i18n ng-if="currentFolder === root">empty.timeline.consultation</i18n>
        </p>
      </div>
      <!-- Si la recherche n'a rien donné -->
      <div class="emptyscreen" ng-if="displayLib.searchTimelines &&
                  (currentFolder.ressources.all.length || currentFolder.children.all.length) &&
                  (filteredFolders = (currentFolder.children.all | filter:searchFolder)).length == 0 &&
                  (filteredTimelines = (currentFolder.ressources.all | filter:searchTimeline)).length == 0">
        <h2 class="emptyscreen-header">
          <i18n>empty.search.title</i18n>
        </h2>
        <img class="emptyscreen-image__mini" src="/assets/themes/entcore-css-lib/images/empty-search.svg">
        <p class="emptyscreen-footer">
          <i18n>empty.search</i18n>
        </p>
      </div>
      <!-- Si les filtres sont tous désactivés -->
      <div class="emptyscreen"
        ng-if="!display.isEditingInfos && !empty && !hasFiltersActive() &&
        !currentFolder.ressources.filtered.length && !currentFolder.children.all.length &&
        !(displayLib.searchTimelines && filteredFolders.length == 0 && filteredTimelines.length == 0 )">
        <h2 class="emptyscreen-header">
          <i18n>empty.filters.title</i18n>
        </h2>
        <img class="emptyscreen-image__mini" src="/assets/themes/entcore-css-lib/images/empty-filters.svg">
        <p class="emptyscreen-footer">
          <i18n>empty.filters</i18n>
        </p>
      </div>
      <!-- Si la corbeille est vide -->
      <div class="emptyscreen"
        ng-if="hasFiltersActive() && !display.isEditingInfos && !empty && isTrashFolder() && !currentFolder.ressources.all.length && !currentFolder.children.all.length">
        <h2 class="emptyscreen-header">
          <i18n>empty.trash2</i18n>
        </h2>
        <img class="emptyscreen-image" src="/assets/themes/entcore-css-lib/images/empty-trash.svg">
      </div>
       <!--CONTENT-->
      <div class="fallen dominos">
        <explorer ng-model="folder.selected" on-open="!isTrashFolder() && openFolder(folder)" class="folder item" ng-repeat="folder in currentFolder.children.all | filter:searchFolder">
          <section class="domino" dragstart ng-model="folder._id" dragdrop="dropTo(folder, $originalEvent)">
            <div class="top">
              <i class="folder-large"></i>
            </div>
            <div class="bottom">
              <div class="content">
                <strong>[[folder.shortenedName]]</strong>
              </div>
            </div>
          </section>
        </explorer>
        <explorer ng-model="timeline.selected" on-open="viewTimeline(timeline)" class="item" ng-repeat="timeline in currentFolder.ressources.filtered | filter:searchTimeline">
          <section class="domino" dragstart ng-model="timeline._id">
            <div class="top">
              <img skin-src="/img/illustrations/image-default.svg" ng-if="!timeline.icon" class="absolute">
              <img image-lazy-load="timeline.icon" ng-if="timeline.icon" class="absolute" />
            </div>
            <div class="bottom">
              <div class="content">
                <strong class="block overflow-hd">[[timeline.shortenedTitle]]</strong>
                <span class="cell-ellipsis block">[[timeline.owner.displayName]]</span>
                <em class="smaller-text block">
                  <i18n>modified.on</i18n>
                </em>
                <br />
                <div class="icons">
                  <i class="ic-share inline" ng-if="timeline.shared.length > 0" tooltip="tooltip.shared"></i>
                  <i class="public" ng-if="timeline.visibility === 'PUBLIC'" tooltip="tooltip.public"></i>
                  <i class="manage" ng-if="timeline.myRights.manage" tooltip="tooltip.manager"></i>
                  <i class="edit" ng-if="!timeline.myRights.manage && timeline.myRights.contrib"
                    tooltip="tooltip.update"></i>
                  <i class="view" ng-if="!timeline.myRights.contrib" tooltip="tooltip.read"></i>
                </div>
              </div>
            </div>
          </section>
        </explorer>
      </div>
    </div>
  </section>
</div>

<!-- Empty screen Création -->
<div class="twelve emptyscreen" ng-if="empty" workflow="timelinegenerator.create">
  <h2 class="emptyscreen-header">
    <i18n>empty.timeline.creation.title</i18n>
  </h2>
  <img class="emptyscreen-image__mini" src="/timelinegenerator/public/img/empty-timeline.svg">
  <p class="emptyscreen-footer">
    <i18n>empty.timeline.creation</i18n>
  </p>
  <a class="button" ng-disabled="isTrashFolder() && !empty" workflow="timelinegenerator.create"
    ng-if="!timeline || !timeline._id" ng-click="newTimeline()">
    <i18n>timelinegenerator.timeline.new</i18n>
  </a>
</div>
<!-- Empty screen Consultation -->
<div class="twelve emptyscreen" ng-if="empty" workflow-not="timelinegenerator.create">
  <h2 class="emptyscreen-header">
    <i18n>empty.timeline.consultation.title</i18n>
  </h2>
  <img class="emptyscreen-image__mini" src="/timelinegenerator/public/img/empty-timeline.svg">
  <p class="emptyscreen-footer">
    <i18n>empty.timeline.consultation</i18n>
  </p>
</div>

<!--TOASTER TRASH-->
<div class="toggle-buttons" ng-if="isTrashFolder()" ng-class="{ hide: !hasSelectedElements() }">
  <div class="row toggle">
    <div>
      <!-- Both-->
      <button ng-click="restore()" ng-if="can('manage')">
        <i18n>restore</i18n>
      </button>
      <button ng-click="lightbox('confirmRemove')" ng-if="can('manage')">
        <i18n>remove</i18n>
      </button>
    </div>
  </div>
</div>
<!-- TOASTER -->
<div class="toggle-buttons" ng-if="!isTrashFolder()" ng-class="{ hide: !hasSelectedElements() }">
  <div class="row toggle">
    <!-- Both-->
    <div>
      <button ng-click="open(currentFolder.selection[0])" ng-if="hasOneElement()">
        <i18n>open</i18n>
      </button>
    </div>
    <div>
      <!-- Exclusive to folders-->
      <button ng-click="lightbox('renameFolder')" ng-if="hasOneFolder()">
        <i18n>rename</i18n>
      </button>
    </div>
    <div ng-if="!hasSelectedFolders()">
      <!-- Exclusive to timelines-->
      <resource-right name="manage" resource="currentFolder.selection">
        <button class="zero-mobile" ng-click="editTimeline()" ng-if="hasOneElement()">
          <i18n>properties</i18n>
        </button>
      </resource-right>
      <!--<resource-right name="manage" workflow="timelinegenerator.create" resource="currentFolder.selection">-->
        <button class="zero-mobile" workflow="timelinegenerator.create" ng-click="duplicateTimeline()" ng-if="hasOneElement()">
          <i18n>duplicate</i18n>
        </button>
      <!--</resource-right>-->
      <resource-right name="manage" resource="currentFolder.selection">
        <button class="zero-mobile" ng-click="shareTimeline()">
          <i18n>share</i18n>
        </button>
      </resource-right>
      <resource-right name="manage" resource="currentFolder.selection">
        <button class="zero-mobile" workflow="timelinegenerator.publish" library-resource="currentFolder.selection[0]"
          ng-if="hasOneElement()">
          <i18n>bpr.publish</i18n>
        </button>
      </resource-right>
    </div>
    <div>
      <!-- Both -->
      <button ng-click="lightbox('move')" workflow="timelinegenerator.createFolder">
        <i18n>move</i18n>
      </button>
    </div>
    <div>
      <button ng-click="print(currentFolder.selection[0])"
        ng-if="hasOneElement() && isTimeline(currentFolder.selection[0])">
        <i18n>print</i18n>
      </button>
    </div>
    <div>
      <button ng-click="trashSelection()" ng-if="can('manage')">
        <i18n>remove</i18n>
      </button>
    </div>
  </div>
</div>
<library-prompt data-ng-if="displayLibraryIncentive()" data-origin-module="'timelinegenerator'"></library-prompt>

<!--####################LIGHTBOXES#################-->
<!--RENAME LIGHTBOX-->
<lightbox show="displayLib.lightbox.renameFolder" on-close="lightbox('renameFolder')">
  <h2>
    <i18n>rename</i18n>
  </h2>
  <input type="text" class="twelve cell" ng-model="currentFolder.selection[0].name"
    i18n-placeholder="timelinegenerator.folder.placeholder" />
  <div class="row">
    <button class="right-magnet" ng-click="currentFolder.selection[0].save(); lightbox('renameFolder')">
      <i18n>save</i18n>
    </button>
    <button class="cancel right-magnet" ng-click="lightbox('renameFolder')">
      <i18n>cancel</i18n>
    </button>
  </div>
</lightbox>
<!--SHARE LIGHTBOX-->
<div ng-if="displayLib.showShare">
  <lightbox show="displayLib.showShare" on-close="displayLib.showShare = false">
    <share-panel app-prefix="'timelinegenerator'" resources="currentFolder.selection"></share-panel>
  </lightbox>
</div>
<!--NEW FOLDER LIGHTBOX-->
<lightbox show="displayLib.lightbox.newFolder" on-close="lightbox('newFolder')">
  <form ng-submit="createFolder()">
    <h2>
      <i18n>timelinegenerator.folder.new</i18n>
    </h2>
    <div class="row">
      <input type="text" ng-model="folder.name" i18n-placeholder="timelinegenerator.folder.placeholder" required
        autofocus class="twelve cell" />
    </div>
    <div class="row top-spacing-twice">
      <button class="right-magnet" ng-disabled="!folder.name.trim()">
        <i18n>create</i18n>
      </button>
      <button type="button" class="cancel right-magnet" ng-click="lightbox('newFolder')">
        <i18n>cancel</i18n>
      </button>
    </div>
  </form>
</lightbox>
<!--MOVE LIGHTBOX-->
<lightbox show="displayLib.lightbox.move" on-close="lightbox('move')">
  <div ng-if="displayLib.lightbox.move">
    <container template="library/move"></container>
  </div>
</lightbox>
<!--REMOVE LIGHTBOX-->
<lightbox show="displayLib.lightbox.confirmRemove" on-close="closeLightbox('confirmRemove')">
  <h2>
    <i18n>remove</i18n>
  </h2>
  <p>
    <i18n>confirm.remove.elements</i18n>
  </p>
  <div class="row">
    <button ng-click="removeSelection()" class="right-magnet">
      <i18n>remove</i18n>
    </button>
    <button type="button" ng-click="closeLightbox('confirmRemove')" class="right-magnet cancel">
      <i18n>cancel</i18n>
    </button>
  </div>
</lightbox>