<!DOCTYPE html>
<html>

  <head>
	<title>{{#i18n}}timelinegenerator.title.toto{{/i18n}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
    <script src="/timelinegenerator/public/js/model.js" type="text/javascript"></script>
    <script src="/timelinegenerator/public/js/controller.js" type="text/javascript"></script>
    <script type="text/ng-template" id="empty"></script>
  </head>

  <body ng-controller="TimelineGeneratorController">
    <portal>
      <div class="row" ng-if="notFound === false">
    		<container template="main" class="flexible nine right-magnet cell"></container>
    		<container template="timelines" class="flexible three cell"></container>
      </div>
    </portal>
  </body>

</html>