{
    "name": "{{ timelinegeneratorVersion }}",
    "config": {
        "main": "net.atos.entng.timelinegenerator.TimelineGenerator",
        "port": 8099,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "app-name": "TimelineGenerator",
        "app-address": "/timelinegenerator",
        "app-icon": "timelinegenerator-large",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "ssl": true,
        {% if overrideTheme %} "override-theme": {}, {% endif %}
        "userbook-host": "https://{{ host }}",
        "integration-mode": "HTTP",
        "app-registry.port": 8012,
        "mode": "prod",
        "entcore.port": 8009,
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 17
                },
                "LIBELLE_SERVICE": {
                    "default": "PARCOURS_PEDAGOGIQUE"
                }
            }
        }
    }
}